@media  (min-width:450px) {
    .jewerlies{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        text-align: center;

    }
    .jewerlies img{
        width: 150px;
        height: 150px;
    }

}
@media  (min-width:710px) {
    .jewerlies{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        text-align: center;

    }
    .jewerlies img{
        width: 250px;
        height: 250px;
    }

}
@media  (min-width:900px) {
    .jewerlies{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        text-align: center;

    }
    .jewerlies img{
        width: 300px;
        height: 300px;
    }}
    @media  (min-width:1010px) {
        .jewerlies{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: center;
            text-align: center;
    
        }
        .jewerlies img{
            width: 380px;
            height: 380px;
        }
}
@media  (min-width:1150px) {
    .navigation{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        color: #cfcfb4;
    }
    h1{
        font-size: 3rem;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;
    }
    nav a{
        color: var(--color1);
        text-decoration: none;
        
    }
    #menu{
        display: none;
    }
    .jewerlies{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        text-align: center;
        grid-template-rows: 1fr 1fr 1fr;

    }
    .jewerlies section{
        padding: 20px;
        background-color:var(--color3);
        color: var(--color2);
        margin:20px;
        font-size: larger;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .jewerlies img{
        width: 350px;
        height: 350px;
    }
    .jewerlies button{
        padding: 15px;
        background-color: var(--color1);
        border-radius: 10px;
        margin-top: 10px;
    }
    .jewerlies button:hover{
        background-color: var(--color2);
        color: var(--color3);
    }

    table{
        width: 40%;
    }
    

    form{
        max-width: 50%;
    }
    legend{
        font-size: 2rem;
    }
    label{
        font-size: 1rem;
        
    }
    fieldset{
        border: 1px solid;
        display: flex;
        flex-direction: column;
        padding-right: 15px;
    }
    
    input{
        padding: 8px;
    }
    .purchase-but{
        background-color:var(--color3);
        color: var(--color1);
        text-align: center;
        font-size: larger;
        padding: 12px;
        border: transparent;
        border-radius: 5px;
        text-decoration:none;
    }
    aside{
        margin-top: 70px;
        margin-left: 40%;
    }
    .purchase-but:hover{
        background-color: rgb(3, 134, 3);
        color: var(--color2);
    }
}
