*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
:root{
    --main-color: rgb(64, 22, 103);
    --background: rgb(179, 176, 176);
}
header{
    background-color: var(--main-color);
    color: white;
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}
h1{
    font-size: 1.5em;
}
nav{
    background-color: var(--main-color);
}
.navigation{
    list-style: none;
    margin: 0 auto;
    max-width: 100%;
}
nav li{
    display: none;
}
.navigation a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    padding: 12px;
}

 .navigation a:hover{
    color: yellow;
    background-color: var(--main-color);
    padding-right: 1px;
}

.show li{
    display: block;
}
#menu.show::before{
    content: 'X';
}
h2{
    text-align: center;
    color: black;
    margin-top: 20px;
}
.temples{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
}

section h3{
    font-size: 2em;
}
section{
    background-color: var(--background);
    text-align: center;
    padding:25px;
    font-size: larger;
}
section img{
    max-width: 100%;
}
footer{
    background-color: var(--main-color);
    color: white;
    font-size: large;
    padding: 10px;
    text-align: center;
    width: 100%;
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--main-color);
	color: white;
}
#menu::before {
    content: "≡";
}