* {
    margin: 0 auto;
    padding: 0;
    font-family: "Afacad Flux", serif;
}
footer, header{
    background-color: rgb(210, 5, 5);
    color: white;
    text-align: center;
    padding: 15px;
}
header{
    border-bottom: 20px solid rgb(5, 100, 5);
}

.hero img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.cls-1 {
    fill: #f8b62d;
}

.cls-1,
.cls-2 {
    stroke: #231815;
    stroke-miterlimit: 10;
}

.cls-2,
.cls-4 {
    fill: #231815;
}

.cls-3 {
    fill: #fff;
}