@media screen and (min-width:500px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
:root{
    --main-color: rgb(64, 22, 103);
}
header{
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: #cfcfb4;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: var(--main-color);
    background-color: white;
    border-radius: 5px;
}
main{
    max-width: 1400px;
    align-items: center;
}
h2{
    text-align: center;
    color: black;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
section{
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
figure img{
    max-width: 300px;
}
figcaption{
    text-align: center;
    color: rgb(70, 19, 117);
    font-size: larger;
}
footer{
    background-color: var(--main-color);
    color: white;
    font-size: larger;
    padding: 20px;
    text-align: center;
}
}